{% extends 'shortener/base.html' %}

{% block content %}


<div class="container error">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-sm-11 col-md-6">
            <h1 style="font-size: 50px;"><strong>Oops!</strong></h1>
            <h3>Sorry, an error has occurred. Requested page not found!</h3>
        </div>
    </div>
    <div class="text-center">
        <hr>
        <a href={% url 'index' %}><button type="submit" class="btn btn-info btn-sm"><strong>Back to Home</strong></button></a>
    </div>
    
</div>


{% endblock content %}