{% extends 'base.html' %}

{% block title %}
    {{ object.shortcode }}
{% endblock title %}

{% block content %}
    <div style="padding-top: 230px;">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-sm-8">
                    <div class="response">
                        <h3 style="color: #000000;"><strong>Already Exists</strong></h3>
                        <p><strong>Shortened Link : </strong><a href="{{ object.get_short_url }}" class="link">{{ object.get_short_url }}</a></p>
                        <a href="/"><button type="submit" class="btn btn-info rounded-pill" style="margin-top: 10px;"><strong>Shorten another URL</strong></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}