<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clippy | {% block title %}Shorten you url{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
        body{
            background-color: #9eb8d8;
            {#background-image: url("https://images.pexels.com/photos/355856/pexels-photo-355856.jpeg?cs=srgb&dl=backdrop-background-beach-355856.jpg&fm=jpg");#}
            {#background-size: cover;#}
        }
        .wrapper{
            margin: 0 auto;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        {% block styles %}
        {% endblock styles %}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="row align-items-center">
            <div class="container col-md-6 col-md-offset-6 text-center">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>